@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

:root {
    --zindex-inspect-item: 3;
    --zindex-mob-navigation: 2;
    --zindex-selected-section: 1;

    --pixel-size: 2;
    --cell-size: 24;
    
    --controls-width: 200px;
    --controls-height: 150px;
}

* {
    box-sizing: border-box;
    font-family: 'Xanh Mono', monospace;
}
body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

.mob-bottom-navigation {
    position: fixed;
    bottom: 0;
    background: black;
    width: 100%;
    height: 80px;
    border-top: white solid 1px;

    z-index: var(--zindex-mob-navigation);
    

    ul {
        list-style: none;        
        max-width: 600px;
        height: 100%;
        padding: 0;
        margin: 0 auto;

        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        

        li {
            background: black;
            padding: 0.2rem;
            justify-content: center;
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;
            border: white solid 5px 1px 1px 1px;
    
            img {
                margin: 0 auto;
                height: 70%;
            }
    
            p {
                margin: 0;
            }
        }

        .selected {
            background: rgb(34, 34, 34);
        }
    }
}

section {
    height: calc(100vh - 80px);
    width: 0px;
    position: absolute;
    overflow: hidden;

    transition: width 0.2s;

    .container {
        width: 100vw;
        
    }
}

section.selected {
    z-index: var(--zindex-selected-section);
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    background: black;
}


#menu-section {
    right: 0;
    top: 0;

    .container {
        text-align: center;

        h2 {
            margin-top: 30px;
            font-size: 2em;
        }
    }
}

#hero-section {
    right: 0;
    top: 0;

    #inspect-item {
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 100vh;

        top:0;
        left:0;
        background: black;

        display: none;
        

        .container {
            margin-bottom: 200px;
            height: fit-content;
            display:flex;
            flex-direction: column;
            align-items: center;

            .destroy {
                position: fixed;
                top: 20px;
                right: 20px;
                border: red solid 1px;
                padding: 15px;
                background: black;
                box-shadow: inset 0 0 25px #ce1010;
                display: none;
            }
    
            .item-image {
                margin-top: 120px;
                width: 120px;
                height: 120px;
                border: white solid 1px;
                background-repeat: no-repeat;
                background-size: 100%;
                image-rendering: pixelated;
            }
            .item-type {
                margin-top: 10px;
                font-size: 1.1em;
                ::first-letter{
                    text-transform:capitalize;
                }
            }
            .item-name {
                text-align: center;
                margin-top: 40px;
                font-size: 2em;
            }
    
            .item-rarity {
                margin-top: 10px;
                font-size: 1.4em;
                ::first-letter{
                    text-transform:capitalize;
                }
            }
    
            .item-description {
                margin-top: 10px;
                font-size: 1.1em;
            }
    
            .item-stats {
                margin-top: 30px;
                font-size: 1.3em;
            }

        }

        .btn-container {
            position:fixed;
            bottom: 80px;

            text-align: center;

            padding: 20px 0;
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: space-evenly;
            background: black;
            border-top: white solid 1px;

            .cancel-btn {
                width: 25%;
                box-shadow: inset 0 0 15px rgba(211, 204, 204, 0.363);
                display: flex;
                justify-content: center;
                align-items: center;
                border:rgba(211, 204, 204, 0.363) solid 1px;
            }

            .equip-btn {
                width: 50%;
                box-shadow: inset 0 0 25px #4a6b81;
                display: none;
                justify-content: center;
                align-items: center;
                border:  #4a6b81 solid 1px;
            }

            .unequip-btn {
                width: 50%;
                box-shadow: inset 0 0 25px #ce1010;
                display: none;
                justify-content: center;
                align-items: center;
                border:  #f82440 solid 1px;
            }

            .use-btn {
                width: 50%;
                box-shadow: inset 0 0 25px #168d44;
                display: none;
                justify-content: center;
                align-items: center;
                border:  #168d44 solid 1px;
            }

            .visible {
                display: flex;
            }
        }

        
    }

    

    .profile-container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

        .hero-portrait {
            margin: auto;
            width: 200px;
            max-width: 90%;
            overflow: hidden;
            border: white solid 1px;
            

            img {
                image-rendering: crisp-edges;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        p {
            padding: 0;
            margin: 0;
        }

        #profile-card {
            width: 200px;
            margin: 20px;
        }

        .resource-bar-container {
            position: relative;
            height: 20px;
            width: 200px;
            border-bottom: white solid 1px;
            margin: 5px 0;
        }

        .resource-bar-fill {
            height: 100%;
            background: red;
        }

        .resource-bar-text {
            text-align: center;
            position: absolute;
            width: 100%;
            top: 0;
        }

        #stats-container {
            width: 200px;
            margin: 20px 0;
        }

        .equipment {
            max-width: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .inventory {
            max-width: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .slot {
            margin: 10px;
            border: white solid 1px;
            width: 80px;
            height: 80px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            image-rendering: pixelated;
        }

        
    }

    .rarity-common {
        box-shadow: inset 0 0 15px #dbdbdb;
    }

    .rarity-rare {
        box-shadow: inset 0 0 15px #61f01f;
    }

    .rarity-legendary {
        box-shadow: inset 0 0 15px #f05a1f,
        inset 0 0 5px #ff6106,
                    ;
    }
}

#dungeon-section {
    right: 0;
    top:0;

    .container {
        width: 100vw;
        height: calc(100vh-80px);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .top-ui {
            h2 {
                margin-top: 30px;
                font-size: 2em;
            }
        }

        .zoom-control {
            font-size: 1.5em;
            display: flex;

            div {
                border: white solid 1px;
                width: 40px;
                height: 40px;
                text-align: center;
                margin:5px;
                padding: 5px;
            }
        }

        .dungeon-map {
            // width: calc(200px * var(--pixel-size));
            position:relative;
            width: 80vw;
            height: 50vh;
            margin: 0 10vw;
            border: white solid 1px;
            overflow: hidden;

            .fight-text-container {
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left:0;

                .fight-text {
                    position:absolute;
                    font-weight: bold;
                }

                .damage-text {
                    color: red;
                }
                .poison-text {
                    color: rgb(63, 192, 11);
                }
                .blind-text {
                    color: rgb(241, 245, 185);
                }
                .confusion-text {
                    color: rgb(126, 89, 175);
                }
                .burn-text {
                    color: rgb(168, 92, 48);
                }
                .root-text {
                    color: rgb(73, 107, 99);
                }
                .evade-text {
                    color: rgb(72, 147, 190);
                }
                .block-text {
                    color: rgb(97, 135, 156);
                }
            }

            .map-container {
                width: 100%;
                height: 100%;
                margin: auto;
                position:absolute;
                top:0;
                left:0;

                .wall {
                    background: url('../graphics/other/cells/cell2.png');
                }

                .floor {
                    background: url('../graphics/other/cells/cell1.png');
                }

                .stairs {
                    background: url('../graphics/other/cells/stairs.png');
                }

                // player classes
                .legion {
                    background: url('../graphics/heroes/ingame/legion.gif');
                }
                .focus {
                    background: url('../graphics/heroes/ingame/focus.gif');
                }
                .monk {
                    background: url('../graphics/heroes/ingame/monk.gif');
                }
                .thief {
                    background: url('../graphics/heroes/ingame/thief.gif');
                }
                .mage {
                    background: url('../graphics/heroes/ingame/mage.gif');
                }
                .king {
                    background: url('../graphics/heroes/ingame/king.gif');
                }
                .berserk {
                    background: url('../graphics/heroes/ingame/berserk.gif');
                }

                .cell {
                    position: absolute;
                    width: calc(var(--cell-size) * var(--pixel-size) *1px);
                    height: calc(var(--cell-size) * var(--pixel-size) *1px);
                    background-repeat: no-repeat;
                    background-size: cover;
                    image-rendering: pixelated;
                }

                
            }

        }

        .mobile-controls {
            position: relative;
            width: var(--controls-width);
            height: var(--controls-height);
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 0.7fr 0.7fr 0.7fr; 
            gap: 0px 0px; 
            grid-template-areas: 
            ". top ."
            "left pass right"
            ". bottom ."; 


            .arrow, .action {
                width: auto;
                height: auto;
                image-rendering: pixelated;
            }

            #right {
                background: url('../graphics/other/icons/controls2.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;

                grid-area: right;
                
            }
            #left {
                background: url('../graphics/other/icons/controls1.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;

                grid-area: left;
            }
            #down {
                background: url('../graphics/other/icons/controls4.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;

                grid-area: bottom;
            }
            #up {
                background: url('../graphics/other/icons/controls3.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;

                grid-area: top;
            }
            #pass {
                background: url('../graphics/other/icons/controls5.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;

                grid-area: pass;
            }



            
        }
    }
}

.youdied {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    h1{
        font-size: 4em;
        color: rgb(97, 16, 16);
    }
    .try-again {
        padding:15px;
        border: rgb(48, 48, 48) solid 1px;
        cursor: pointer;
        transition: border 0.5s;

    }
    .try-again:hover {
        border: rgb(138, 17, 17) solid 1px;
        box-shadow: inset 0 0 15px rgb(109, 24, 24);
    }
}

